/* 
    Document   : loop-text
    Created on : Jun 23, 2012, 7:51:33 PM
    Author     : newe1344
    Description:
        Purpose of the stylesheet follows.
*/

#loop-text {
    position: relative;
    top: -264px;
    left: 665px;
    width: 100px;
    height: 200px;
    
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ( -1px );
}

#loop-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    overflow: hidden;
}

#loop-text-inner {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100px;
    font-size: 8px;
    text-align: center;
}

.loop-text-animate {
    -webkit-animation: loop-text 100s linear 0s infinite;
}

@-webkit-keyframes loop-text {
    0% {  top: 200px; -webkit-transform: translateZ( -1px ); }
    100% { top: -9000px; -webkit-transform: translateZ( -1px ); }
}
